// Banner:
* {
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

.Banner {
    &__img {
        aspect-ratio: 16/9;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__carousel {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__Voucher {
        padding: 30px 0;
    }

    &__desc {
        margin-top: 10px;
        font-size: 13px;
    }

    &__tag {
        text-align: center;
        cursor: pointer;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    }

    @media (max-width:767.98px) {

        &__toggle {
            display: none;
        }
        &__Voucher {
            padding: 15px 0;
        }
        &__tag {
            
    
            img {
                width: 35px;
                height: 35px;
                object-fit: cover;
            }
        }
        &__desc {
            margin-top: 10px;
            font-size: 12px;
        }
    
    }
}

//End Banner:

// Custom carousel antd:
:where(.css-dev-only-do-not-override-1kuana8).ant-carousel,
:where(.css-dev-only-do-not-override-1kuana8).ant-carousel .slick-slider,
:where(.css-dev-only-do-not-override-1kuana8).ant-carousel .slick-slider .slick-track,
:where(.css-dev-only-do-not-override-1kuana8).ant-carousel .slick-slider .slick-list {
    height: 100%;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-carousel .slick-list .slick-slide.slick-active div:nth-child(1) {
    height: 100%;
}

// End Custom carousel antd:

// Category::after
.Category {
    background-color: #fff;
    border-radius: 8px;

    &__box {
        text-align: center;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;

        padding: 20px;
        height: 100%;

        &:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }

    &__img {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__desc {
        color: #000;
        font-size: 16px;
        padding-top: 20px;
    }

    @media (max-width:"991.98px") {
        &__box {
            padding: 0;
            padding-top: 10px;
        }

        &__img {
            width: 45px;
            height: 45px;
        }

        &__desc {
            color: #000;
            font-size: 12px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

   
}

.Sugest {
    margin: 50px 0;

    &__title {
        position: relative;
        background-color: #fff;
        padding: 20px 0;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-one);
        font-size: 20px;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            background-color: var(--color-one);
            height: 2px;
            bottom: 0;
            left: 0;
        }
    }

    &__main {
        padding: 15px;
    }
}


//End Category: